@import "tailwindcss";

@theme {
  --font-heading: var(--font-oswald);
  --font-sans: var(--font-oswald);
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body,
* {
  cursor: url("/cursor.png") 20 20, auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
